.homepage {
  display: flex;
  flex-flow: column nowrap;
}

.homepage-title {
  font-family: 'Audiowide', cursive;
  font-size: 200px;
}

.video {
  margin-top: 5px;
  padding: 10px;
}

.homepage-videos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 10px;
  margin: 50px auto;
}

.homepage-footer {
  height: 50px;
}

.card-action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.text {
  text-align: center;
  color: grey;
  padding: 10px;
}

.jumbotron {
  background-image: url('https://images3.alphacoders.com/751/751195.jpg');
  background-color: black;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
  text-align: center;
}

p {
  word-break: break-all;
  white-space: normal;
  width: 50%;
  height: 50%;
}