.homepage {
  display: flex;
  flex-flow: column nowrap;
}

.homepage-videos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 10px;
  margin: 50px auto;
}

.card-text {
  text-align: justify;
  width: 50px;
}

.homepage-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.text {
  text-align: center;
  color: grey;
  padding: 10px;
}

.homepage-footer {
  height: 50px;
}

.jumbotron {
  /*background-image: url('http://i.imgur.com/ogeNJPO.jpg');*/
  background-color: pink;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  color: white;
  text-align: center;
  margin-top: 5px;
}